@model Articulo
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="row" style="margin-top: 1vh;">
        @foreach (Articulo item in Model.Get())
        {
        <a asp-controller="Articulos" asp-action="Details" asp-route-id="@item.ID">
            <div class="card prod" style="height: 38.7vh; width: 30vh; margin: 1.8vh;">
                <img class="card-img-top" src="@item.IMG" alt="@item.DESC" style="height: 18vh; width: 18vh; margin: auto; margin-top: 1vh;">
                <div class="card-body">
                    <h5 class="card-title text-capitalize">@Html.DisplayFor(modelItem => item.DESC)</h5>                    
                </div>
                <div class="card-footer">
                    <span class="float-left badge badge-success">@Html.DisplayFor(modelItem => item.PRE_VENT)</span>
                    <a asp-controller="Home" asp-action="Pago" class="btn-sm btn-primary float-right">Comprar</a>
                </div>
            </div>
        </a>
        }
    </div>
</div>

<style>
    .prod:hover{
        transition: .5s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: translateY(-7px);
    }
</style>